.git/
.vscode/
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

flask_stdout.log
flask_stderr.log
*.log
.env
config.local.json

.pytest_cache/
.mypy_cache/
.ruff_cache/

Dockerfile
.dockerignore
